@purple : #523A54;
@blue : #4F7CAC;
@grey : #DADAD9;
@darkgrey : #36382E;
@offwhite: #FFFBFE;

#logo {
  font-size: 2em;
  padding: 1em;
  text-decoration: none;
  color: #fff;
}
.nav {
  background: @darkgrey;
  height: 50px;
  color: #fff;
}

.sign {
  padding: 1em;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

input {
  height: 50px;
}

.request-input {
  width: 400px;
}

// span {
//   padding: 1em;
// }

.requestphoto {
  max-width: 100%;
}

.feed {
  float: right;
  padding: 5px;
  border: 1px solid @grey;
  height: 500px;
}

