/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
///////////////////////////////////////////
//                COLORS                 //
///////////////////////////////////////////

@purple: #523A54;
@purple-light: #5F4461;
@black: #000;
@blue: #4F7CAC;
@blue-light: #6093C8;
@lightblue: #BDE1EB;
@lighterblue: #E4F1F6;
@grey: #DADAD9;
@darkgrey: #36382E;
@offwhite: #FFFBFE;
@white: #FFF;

// rainbow

@red: #E10;
@orange: #FEAE2D;
@yellow: #CB3;
@green: #AC2;
@blue: #1AB;
@purple: #44D;
@indigo: #429;


// COLOR SCHEME
//foreground 
@fg-dark: @black;
@fg-mid: @grey;
@fg-light: @offwhite;

//background
@bg-dark: @darkgrey;
@bg-mid: @grey;
@bg-light: @white;

//highlight
@hl-primary: @blue;
@hl-secondary: @purple;

//on hover for highlight
@hl-primary-h: @blue-light;
@hl-secondary-h: @purple-light;

//button colors
@bt-primary: @blue;
@bt-secondary: @purple;

//on hover for buttons
@bt-primary-h: @blue-light;
@bt-secondary-h: @purple-light;


///////////////////////////////////////////
//           HEADER STYLING              //
///////////////////////////////////////////

#bs-navbar-collapse-1 {
  height: 175px;
}

.header-container {
  margin: 0 30px;
}

.navbar-default {
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: @bg-dark;
}

.navbar-collapse {
  max-height: none;
}

.logo {
  .p&:hover {
    color: @red;
  }
  .i&:hover {
    color: @orange;
  }
  .c&:hover {
    color: @yellow;
  }
  .a&:hover {
    color: @green;
  }
  .r&:hover {
    color: @blue;
  }
  .u&:hover {
    color: @purple;
  }
  .s&:hover {
    color: @indigo;
  }
  font-weight: 400;
  float: left;
  margin: 5px 10px;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
}

///////////////////////////////////////////
//             BODY STYLING              //
///////////////////////////////////////////

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  background-color: @grey;
}
.container {
  background-color: @white;
}

.facebook-button {
  color: @fg-dark;
  background-color: @bg-mid;
  .bordered;
  margin: 0 10px;
}

.bordered {
  border: 1px solid @fg-mid;
  border-radius: 5px;
}

.straight-bordered {
  border: 1px solid @fg-mid;
}

.straight-border {
  border-left: 1px solid @fg-mid;
  border-right: 1px solid @fg-mid;
}

.straight-border-right {
  border-right: 1px solid @fg-mid;
}

.straight-border-bottom {
  border-right: 1px solid @fg-mid;
}

.darkbordered {
  border: 1px solid #000;
}

a.active {
  &:hover {
    text-decoration: none;
  }
}

.nav {
  text-align: center;
  padding: 10px;
  background: @bg-dark;
  height: 60px;
  color: #fff;
}

.sign {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.navbar-nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  margin-left: 10px;
}

.navbar-nav li a {
  padding: 0;
}

input {
  height: 2em;
}
form {
  width: 100%;
}
.request-input {
  &::-webkit-input-placeholder {
    color: @blue;
  }
  padding-left: 10px;
  float: left;
  margin: 0 3%;
  width: 70%;
  border: 1px solid @lightblue;
  border-radius: 5px;
}

.request-submit {
  width: 20%;
  border: 1px solid @lightblue;
}

///////////////////////////////////////////
//          PROFILE PAGE STYLING         //
///////////////////////////////////////////
.avatar-form {
  text-align: left;
}

img.avatar {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.prof-header {
  .prof-name {
    font-size: 2em;
  }
}

.prof-cat {
  margin: 20px 0 5px 0;
  font-size: 1.3em;  
}

///////////////////////////////////////////
//          REQUEST PAGE STYLING         //
///////////////////////////////////////////
.req-header {
  background: @bg-light;
  color: @fg-dark;
  border: 1px solid @hl-primary;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0 0 0.5em 0;

  .req-title {
    font-size: 2em;
    margin: 0.2em 0;
  }
  .req-username {
    float:right;
    padding-right: 0.5em;
  }
}

.photo {
  margin: 0.5em 0;
}

img.request-photo {
  max-height: 350px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

img.request-photo-modal {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

div.request-photo {
  margin-bottom: 1em;
}

.request {
  padding: 1em;
  li {
    width: 100%;
    .bordered;
    padding: 1em;
    margin: 1em 0;
  }
  .comment {
    background: @bg-mid;
    padding: 0;
    margin-bottom: 0.5em;
    .bordered;
    .photo-comment {
      background: @bg-light;
      padding: 0.5em;
      display: block;
      .bordered;
    }
    .comment-username {
      padding: 0.2em;
      display: block;
      text-align: right;
    }
  }
  .comment-input {
    width: 80%;
    float: left;
  }
  .comment-submit {
    width: 20%;
  }
  .photo-description {
    width: 80%;
    margin-right: 2%; 
    float: left;
  }
}

///////////////////////////////////////////
//             FEED STYLING              //
///////////////////////////////////////////

.request-title h2 {
  font-size: 1.25em;
  padding: 0;
}

.request-title {
  padding: 10px 0;
  text-align: center;
}

.photo-username {
  color: @fg-dark;
  float: right;
}

.req-form {
  margin-bottom: 10px;
}

.feed {
  background: @lighterblue;
  margin-top: 10px;
  .bordered;
  padding: 5px;
  height: 1000px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  li {
    &:hover {
      background: @bg-light;
      color: @hl-primary;
    }
    color: @fg-dark;
    background: @bg-mid;
    padding: 1em;
    list-style-type: none;
    .bordered;
    margin: 0.5em;
  }
}

.recent-requests {
  text-align: center;
}

.feed-list {
  background: @white;
  margin-top: 10px;
  .bordered;
  height: 880px;
  overflow: scroll;
}

.modal-title {
  font-size: 1em;  
}

.modal-header, .modal-footer {
  padding: 5px 10px;
  border: none;
}

.modal-body {
  background-color: #000;
  text-align: center;
  padding: 0px;
}

.modalcontent {
  // max-width: 100%;
  width: 70%;
  // min-width: 5%;
  .comment {
    background: @bg-mid;
    padding: 0;
    margin-bottom: 0.5em;
    .bordered;
    .photo-comment {
      background: @bg-light;
      padding: 0.5em;
      display: block;
      .bordered;
    }
    .comment-username {
      padding: 0.2em;
      display: block;
      text-align: right;
    }
  }
  .comment-input {
    width: 80%;
    float: left;
  }
  .comment-submit {
    width: 20%;
  }
}

///////////////////////////////////////////
//           GALLERY STYLING             //
///////////////////////////////////////////
img.gallery-photo {
  height: 150px;
  object-fit: cover;
  padding: 0 5px;
  margin: 5px 0;
}

a.header-tag {
  width: 20%;
  display: inline-block;
  color: @white;
  text-decoration: none;
  background-color: @darkgrey;
  border: 1px solid @white;
  padding: 2% 6%;
  font-weight: 400;
  &:hover {
    background-color: @white;
    color: @darkgrey;
  }
  &.active {
    color: @white;
    background-color: @purple-light;
    &:hover {
      background-color: @blue-light;
    }
  }
}

a.header-tag:first-child {
  border-radius: 0 0 0 10px;
} 

a.header-tag:last-child {
  border-radius: 0 0 10px 0;
}

.header-tag {
  cursor: pointer;
  padding: 5px;
  text-align: center;
  &.active {
    text-decoration: underline;
  }
}

.gallery {
  li {
    &:hover {
      background: @bg-light;
      color: @hl-primary;
    }
    color: @fg-dark;
    background: @bg-mid;
    padding: 3%;
    list-style-type: none;
    border-radius: 5px;
    margin-top: 1%;
  }
}

li.page-button {
  float: right;
  display: inline;
  color: @white;
  background: @purple-light;
  border: 1px solid @black;
  border-radius: 5px;
  padding: 1%;
  margin: 1px;
  cursor: pointer;
  font-size: 12px;
  &:hover {
    background: @blue;
    color: @white;
  }
  &.active {
    background: @white;
    color: @black;
    &:hover {
      background: @darkgrey;
      color: @white;
    }
  }
}

.page-button-ul {
  display: inline;
  padding: 5px;
}

.filterbar {
  margin-bottom: 1%;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.modal-description {
  float: left;
}

.modal img {
  max-width: 100%;
}
.gallery-req {
  padding: 5px;
}

///////////////////////////////////////////
//            SUBMIT STYLING             //
///////////////////////////////////////////

.submission {
  background-color: @bt-primary;
  border-radius: 5px;
  color: @fg-light;
  text-align: center;
  &:hover {
    background-color: @bt-primary-h;
  }
}

form.search-form {
  display: inline;
  margin: 10px 10px;
}

input.search-bar {
  margin: 5px 0;
  width: 250px;
}

.search-bar {
  color: @black;
}

.search-submit {
  border-left:1px solid @darkgrey;
  padding: 8px;
  background: white;
  color: @darkgrey;
  cursor: pointer;
}
#preview {
  width: 25%;
}
///////////////////////////////////////////
//       COMMENTS SLIDER STYLING         //
///////////////////////////////////////////

.comment-slider {
  color: @hl-secondary;
  cursor: pointer;
  padding: 10px;
}

.glyphicon-heart {
  color: red;
  display: inline-block;
  float:right;
  font-size: 24px;
  line-height: 40px;
  user-select:none;
}

.likes {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.unclicked {
  color: #DCDCDC
}